<h6><b><i> Enter Keyword to search:</i></b> </h6><input type="text" [(ngModel)]="searchText">
<button (click)="search()" > Ok</button><br><br>

<div class="container" *ngIf="intial=='yes'">
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th >Name</th>
        <th>Email</th>
        <th>Technology</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let details of users"  >
        <td>{{details.name }}</td>
        <td>{{details.email}}</td>
        <td>
          <ul *ngFor= "let tech of details.technology ">
            <li>{{tech }}</li>
          </ul>
        </td>
        <td >
          <button class="btn btn-primary" (click)="assignProject(details._id, details.name)">Assign</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="intial=='no'">
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th >Name</th>
        <th>Email</th>
        <th>Technology</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let details of filterValue"  >
        <td>{{details.name }}</td>
        <td>{{details.email}}</td>
        <td>
          <ul *ngFor= "let tech of details.technology ">
            <li>{{tech }}</li>
          </ul>
        </td>
        <td >
          <button class="btn btn-primary" (click)="assignProject(details._id, details.name)">Assign</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

