/* You can add global styles to this file, and also import other style files */
/*.card{
  margin-top: 5%;
  margin-left: 25%;
  max-width: 50%;
  opacity: 0.8; 
}*/
/*.row{
  padding-left: 20%;
}*/
#box{
 box-shadow: 5px 5px 10px 10px grey;
}
