<input type=submit value=logout class="btn btn-primary  align-right" id="submit" (click)="logout()">&nbsp; &nbsp;
<a [routerLink]="['/leave', id]">Apply For Leave</a>  &nbsp; &nbsp;&nbsp; &nbsp; 
<a  href="" data-toggle="modal" data-target="#leavehistory" >Leave History</a>   &nbsp; &nbsp;&nbsp; &nbsp;
<a  href="" data-toggle="modal" data-target="#status" >Send Status</a> &nbsp; &nbsp;&nbsp; &nbsp;
<a [routerLink]="['/myStatus', id]">My Status History</a>    &nbsp; &nbsp;
<a   href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Notifications<span class="badge badge-danger">2</span></a>   
<div class="dropdown-menu" >
  <button class="dropdown-item" href="" class="btn btn-light text-primary" data-toggle="dropdown"> <h6><small>Mark all as Read</small></h6></button>
   <div class="card " *ngFor="let details of notifications">
    <div class="card-body {{details.status}}">{{details.sendBy[0].name}} {{details.message}}</div>
  </div>
</div>

<div class="container">
  <table class="table ">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th> Client Name</th>
          <th>Type</th>
          <th>Technology</th>
          <th>Image</th>
        </tr>
      </thead>
       <tbody>
        <tr *ngFor= "let details of project" >
          <td>{{details.projectdetails[0].title}}</td>
          <td>{{details.projectdetails[0].description}}</td>
          <td>{{details.projectdetails[0].clientName}}</td>
          <td>{{details.projectdetails[0].projectType}}</td>  
          <td>
            <ul *ngFor= "let tech of details.projectdetails[0].technology ">
                <li>{{tech}}</li>
            </ul>
          </td>
          <td><img src="../assets/images/{{details.projectdetails[0].image}}" height="100">
          </td> 
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <div class="modal fade" id="leavehistory" role="dialog">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Leave Application History</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>         
        </div>
        <div class="modal-body container">
          <table class="table table-condensed">
            <thead >
              <tr>
                <th>Manager Id</th>
                <th>Leave Type</th>
                <th> From </th>
                <th>Till</th>
                <th>Applied On</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor= "let details of applications" >
              <tr>
                <td>{{details.manager[0].name}}</td>
                <td>{{details.leaveType}}</td>
                <td>{{details.fromDate}}<br> {{details.fromSession}} </td>
                <td>{{details.toDate}} <br>{{details.tillSession}} </td>
                <td>{{details.appliedDate}}</td>  
                <td> {{details.status}} </td>
              </tr>
           </tbody>    
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>     
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="modal fade" id="status" role="dialog">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>         
        </div>
        <div class="modal-body container">
          <div class="card">
            <div class="card-header bg-primary text-white"><h5>Status mail</h5></div>
            <div class="card-body">
               <form method="post" [formGroup]="statusForm">
                  <div class="row">
                    <div class="form-group col-sm-4"  >
                      <b><label for="to"> To </label></b>
                      <select  class="form-control" name="to" formControlName="to" >
                     <option *ngFor="let user of manager" [value]=user._id> {{user.name}}</option>
                     
                      </select> 
                    </div>
                    <div class="form-group col-sm-4" >
                      <b><label for="cc">  CC </label></b>
                      <span  class="form-control"><b>status@bestpeers.com</b></span>
                    </div>
                    <div class="form-group col-sm-4" >
                      <b><label for="statusDate" >Status Date </label></b>
                      <input type="date" class="form-control" formControlName="statusDate">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-4" >
                      <b><label for="inTime"> In time </label></b>
                      <input type="time" name="inTime" class="form-control" value="11:00" formControlName="inTime">  
                    </div>
                    <div class="form-group col-sm-4" >
                      <b><label for="outTime"> Out time </label></b>
                      <input type="time" formControlName="outTime" class="form-control" value="20:00">  
                    </div>
                    <div class="form-group col-sm-4" >
                      <b><label for="breakTime">Break Time </label></b>
                      <input type="time" formControlName="breakTime" class="form-control" value="00:30">  
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-8">
                    <b> Project </b> &nbsp; &nbsp; &nbsp;
                    <input type="radio" formControlName="type" value="Not assigned" (click)="show='no'">Not Assigned &nbsp; &nbsp;
                    <input type="radio" formControlName="type" value="Assigned" (click)="show='yes'">Assigned
                  </div>
                </div >
                <div *ngIf="show=='yes'" id="projectDetail">
                  <div class="row">
                    <div class="form-group col-sm-12" ><b> ADD TASK</b>
                    </div>
                  </div>
                  <div class="row">
                   <div class="form-group col-sm-4" >
                      <b><label for="projectName"> Project Name </label></b>
                      <select class="form-control" formControlName="projectName">
                        <option *ngFor= "let details of project">{{details.projectdetails[0].title}}          
                        </option>   
                      </select>  
                    </div>
                    <div class="form-group col-sm-4">
                      <b><label for="workTime"> Working hours </label></b>
                      <input type="time" formControlName="workTime" class="form-control" value="09:00">  
                    </div>
                    <div class="form-group col-sm-4" >
                      <b><label for="status">Status </label></b>
                      <select  class="form-control" formControlName="status">
                        <option> Done</option>
                        <option> Processing</option>
                        <option> Deployed </option>
                        <option> Testing</option>
                      </select> 
                    </div>
                  </div>
                  <div class="row">
                    <b><label for="task">Task</label></b>
                    <textarea class="form-control" formControlName="task"></textarea>
                  </div>
                </div>
                 <div *ngIf="show=='no'">
                  <div class="row">
                    <b><label for="task">Add Task</label></b>
                    <textarea class="form-control" formControlName="task"></textarea>
                  </div>
                </div>
                </form>              
              </div>
            </div>   
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="status()" data-dismiss="modal">Send</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>     
    </div>
  </div>
</div>