
.table-condensed{
  table-layout: fixed;
  word-wrap: break-word;
}
.dropdown-menu{
  width:400px;
  overflow-y: auto;
height: 400px;
  
}

.dropdown-menu .card{
  margin: 2%;
}
.unread{
  background: #D8D8D8;
}
